@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh">
    <div class="row">
        <h1 class="display-1 main-text text-center mb-3">ACCESO DENEGADO</h1>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary m-2">Volver a Home</a>
    </div>
</div>