@using ItlaBankApp.Core.Application.ViewModels.User;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Olvidé mi contraseña";
}

<div class="container-fluid" style="height:78vh">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mt-5">
                <div class="card-header bg-primary bg-gradient text-light">
                    <h4 class="display-6 fw-bold">Olvidé mi contraseña</h4>
                    <p>Te llegará un enlace a tu correo!</p>
                </div>
                <div class="card-body">

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-controller="User" asp-action="ForgotPassword">

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label main-text">Email: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-end">
                            <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary m-2">Volver atras</a>
                            <button type="submit" class="btn btn-primary m-2">Guardar</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>
