@using ItlaBankApp.Core.Application.Enums
@model ItlaBankApp.Core.Application.ViewModels.Product.SaveProductViewModel
@{
    ViewData["Title"] = "Crear Producto";
}

<div class="row mb-3">
    <div class="col-3 offset-9 mt-4">
        <a asp-controller="User" asp-action="AdminUsers" class="btn btn-outline-primary bg-gradient float-end">Volver Atrás</a>
    </div>
</div>

<h1 class="main-text display-6 mt-5 mb-3">
@if (Model.ProductType == ProductType.Savings)
    {
        <span>Nueva Cuenta de Ahorros</span>
    }
    else if (Model.ProductType == ProductType.Loan)
    {
        <span>Nuevo Préstamo</span>
    }
    else if (Model.ProductType == ProductType.CreditCard)
    {
        <span>Nueva Tarjeta de Crédito</span>
    }
</h1>

<form asp-controller="Product" asp-action="Create" method="post">
    <input type="hidden" name="ProductType" value="@Model.ProductType" />
    <div class="form-group mb-3">
        <label asp-for="Amount" class="mb-2">@(Model.ProductType == ProductType.Savings || Model.ProductType == ProductType.Loan ? "Monto" : "Límite")</label>
        <input class="form-control" asp-for="Amount" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for=UserId value="@Model.UserId" />
    <button type="submit" class="btn btn-primary">Crear</button>
</form>